:root {
  --sapphire: #0d3c56;
  --dim-gray: #666666;
  --white: #FFFFFF;
  --persian-green: #36A793;
  --silver: #AAAAAA;
  --brown-gold: #b0621c;
  --gray: #6d6d6d;
  --brown-red: #af3330;
  --brown-yellow: #c9a54a;
  --pea-green: #8d9b43;
}


html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Source Sans Pro','Helvetica','Arial',sans-serif;
  overflow: auto;
}

html{
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--gray);
}

h1 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  color: black;
}

@media (max-width: 430px) {

  h1 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    font-size: 1.5em;
    color: black;
  }

}

h2:not(.homepage-box-title), h3, h4 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  color: var(--gray);
}

.homepage-box-title {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
}

.header-container {
  background-color: var(--sapphire);
  color: white;
  padding: .01em 0 .01em 0;
}

.header-top {
  border-bottom: .25em solid var(--brown-gold);
}

.bryant-title {
  color: black;
}

.cpa-title {
  color: var(--brown-red);
}

.nav-icon {
  height: 1.25em;
}

.home-icon {
  height: 3em;
}

.header-email-phone {
  display:flex;
  gap: 1em;
  align-items: center;
}

@media (max-width: 445px) {

  .header-email-phone {
    display:flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

}

.header-email-phone > li {
  display:flex;
  align-items: center;
  gap: .5em;
}

.navbar-container > ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2em;
}

@media (max-width: 365px) {

  .navbar-container > ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2em;
  }

}



.name-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 760px) {

  .name-navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}


.no-bullet-indent {
  list-style: none;
  padding-left: 0; 
}

.navbar-item {
  list-style-type: none;
}

.nav-title {
  text-decoration: none;
}

.navbar-item > a {
  color: var(--sapphire);
  text-decoration: none;
}

.navbar-item > a:hover {
  color: var(--brown-gold);
}

.navbar-item > a.active-page {
  color: var(--brown-gold);
}

.content-container, .mobile-no-padding {
  padding-left: 15em;
  padding-right: 15em;
}

@media (max-width: 1550px) {

  .content-container, .mobile-no-padding {
    padding-left: 10em;
    padding-right: 10em;
  }


}

@media (max-width: 1375px) {

  .content-container, .mobile-no-padding {
    padding-left: 5em;
    padding-right: 5em;
  }


}

@media (max-width: 1225px) {

  .content-container, .mobile-no-padding {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }


}

/* @media (max-width: 600px) {

  .content-container {
    padding-left: 0;
    padding-right: 0;
  }


} */

@media (max-width: 800px) {

  .mobile-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  div.homepage-intro-container {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .homepage-box-container {
    margin-top: .25em;
    gap: .25em;
  }

}

.homepage-photo {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin-bottom: 0;
  font-size:0;
  display:flex;
}

.homepage-container{
  display: flex;
  flex-direction: column;
}

.homepage-intro-container {
  flex: 1;
  padding: 3em 0;
}

.homepage-box-container{
  flex: 1;
  
  padding: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  justify-content:center;
}

@media (max-width: 1050px) {

  .homepage-box-container{
    flex: 1;
    
    padding: 0;
    border: 0;

    box-shadow: none;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-content:center;
  }

  .homepage-box-container {
    margin-top: .25em;
    gap: .25em;
  }

}

.homepage-box1, .homepage-box2, .homepage-box3 {
  text-align: center;
  padding: 4em 2em;
  min-height: 15em;
}

.box-icon {
  filter: invert(39%) sepia(11%) saturate(0%) hue-rotate(192deg) brightness(101%) contrast(76%);
}

.homepage-box1:hover, .homepage-box2:hover, .homepage-box3:hover {
  color: white;
  transition: background 250ms ease-in;
}

.homepage-box1:hover {
  background-color: var(--sapphire);
}

.homepage-box2:hover {
  background-color: var(--brown-yellow);
}

.homepage-box3:hover {
  background-color: var(--pea-green);
}

.homepage-box1:hover .box-icon, .homepage-box2:hover .box-icon, .homepage-box3:hover .box-icon {
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

@media (max-width: 1050px) {

  .homepage-box1{
    background-color: var(--sapphire);
    color: white;
  }

  .homepage-box2{
    background-color: var(--brown-yellow);
    color: white;
  }

  .homepage-box3{
    background-color: var(--pea-green);
    color: white;
  }

  .homepage-box1 .box-icon, .homepage-box2 .box-icon, .homepage-box3 .box-icon {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
  }

}

.clickable-box {
  color: var(--gray);
  text-decoration: none;
}

.about-container {
  padding-bottom: 3em;
}

.get-in-touch-item {
  list-style-type: none;
}

.team-title {
  font-style:italic;
}

.services-container {
  padding-bottom: 1.5em;
}

.services-list > li {
  padding: .2em 0;
}

.services-item, .about-item {
  color: var(--brown-gold);
}

.services-item:hover, .about-item:hover {
  color: var(--sapphire);
  text-decoration: none;
}

.list-bold {
  font-weight:bold;
}

.footer-container {
  border:0.1em solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hours-container {
  display: flex;
  flex-direction: row;
  gap:1em;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-name {
  font-weight: bold;
}

.contact-item {
  list-style-type: none;
}

.contact-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5em;
}



/* @media (max-width: 1150px) {

  .contact-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
  }

} */

.g-map {
  width:50em;
  height:20em;
}


@media (max-width: 1150px) {

  .g-map {
    width:30em;
    height:20em;
  }

}

@media (max-width: 825px) {

  .g-map {
    width:20em;
    height:20em;
  }

}


@media (max-width: 650px) {

  .contact-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
  }

  .contact-content {
    align-items:flex-start;
  }

}