/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  border:0.1em solid black;
}

.navbar-container > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.no-bullet-indent {
  list-style: none;
  padding-left: 0; 
}

.navbar-item {
  list-style-type: none;
}

.navbar-item > a {
  color: black;
  text-decoration: none;
}

.content-container {
  padding-left: 15em;
  padding-right: 15em;
}

.homepage-boxes {
  display: flex;
  flex-direction: row;
  gap:2em;
}

.get-in-touch-item {
  list-style-type: none;
}

.footer-container {
  border:0.1em solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hours-container {
  display: flex;
  flex-direction: row;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-name {
  font-weight: bold;
}

.contact-item {
  list-style-type: none;
}