:root {
  --sapphire: #0d3c56;
  --dark-sapphire: #0a3045;
  --darker-sapphire: #082536;
  --light-sapphire: #115073;
  --lighter-sapphire: #176996;
  --dim-gray: #666666;
  --white: #FFFFFF;
  --persian-green: #36A793;
  --lighter-silver: #edebeb;
  --light-silver: #DEDEDE;
  --silver: #AAAAAA;
  --brown-gold: #b0621c;
  --gray: #6d6d6d;
  --brown-red: #af3330;
  --brown-yellow: #c9a54a;
  --darker-brown-yellow: #8f7535;
  --pea-green: #8d9b43;
  --darker-pea-green: #555e29;
}


html, body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Source Sans Pro','Helvetica','Arial',sans-serif;
  overflow: auto;
}

html {
  min-height: 100%;

  display: flex;
  flex-direction: column;
}

body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--gray);
  flex-grow: 1;
}

h1 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  color: black;
}

@media (max-width: 430px) {

  h1 {
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-variant-ligatures: common-ligatures;
    font-size: 1.5em;
    color: black;
  }

}

h2:not(.homepage-box-title), h3, h4 {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
  color: var(--gray);
}

.homepage-box-title {
  font-family: adobe-caslon-pro, serif;
  font-weight: 600;
  font-variant-ligatures: common-ligatures;
}

.header-container {
  background-color: var(--sapphire);
  color: white;
  padding: .01em 0 .01em 0;
}

.header-top {
  border-bottom: .25em solid var(--brown-gold);
}

.bryant-title {
  color: black;
  font-size: 2.5em;
}

@media (max-width: 620px) {

  .bryant-title {
    font-size:7.5vw;
  }

}

@media (max-width: 445px) {

  .bryant-title {
    font-size:7vw;
  }

}

.cpa-title {
  color: var(--brown-red);
}

.nav-icon {
  height: 1.25em;
}

.home-icon {
  height: 3em;
}

.header-email-phone {
  display:flex;
  gap: 1em;
  align-items: center;
}

@media (max-width: 500px) {

  .header-email-phone {
    display:flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

}

.header-email-phone > li {
  display:flex;
  align-items: center;
  gap: .5em;
}

.nav-email-telephone-num {
  text-decoration: none;
  color: white;
}

.nav-client-portal {
  background-color: var(--sapphire);
  color: white;

  padding: .5em;
  text-align: center;

  border: .1em solid var(--sapphire);

  transition: all 250ms ease;
  white-space:nowrap
}

.nav-client-portal:hover {
  background-color: white;
  color: var(--brown-gold);
}

.nav-client-portal:active {
  background-color: var(--silver);
  
}

.nav-client-portal-active {
  background-color: white;
  color: var(--brown-gold);

  padding: .5em;
  text-align: center;
  
  border: .1em solid var(--sapphire);
  white-space:nowrap

}

.nav-client-portal-decoration {
  text-decoration: none;
}

.navbar-container > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;

  padding-bottom: .5em;

}

@media (max-width: 390px) {

  .navbar-container > ul {
    flex-direction: column;
    justify-content: left;
  }

}

.name-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media (max-width: 1100px) {

  .name-navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

}

.hamburger {
  width:2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s ease-in;
}

.hamburger {
  display:none;
}

.display-nothing, .burger-menu-list, .burger-open {
  display:none;
}



.no-bullet-indent {
  list-style: none;
  padding-left: 0; 
}

.navbar-item {
  list-style-type: none;
}

.nav-title {
  text-decoration: none;
}

.navbar-item > a {
  color: var(--sapphire);
  text-decoration: none;
  transition: color 250ms ease;
}

.navbar-item > a:hover {
  color: var(--brown-gold);
  
}

.navbar-item > a:active {
  color: var(--darker-brown-gold);
  
}




@media (max-width: 767px) {
  .hamburger {
    display: flex;
    z-index: 10;
  }
  .navbar-container {
    display: none;
  }
  .header-email-phone {
    display:flex;
    justify-content: left;
    align-items: flex-start;
  }
  .mobile-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .burger-open {
    display:inline;
    background-color: white;
    height: 100vh;
    width: 75vw;
    /* margin-top:50px; */
    position:absolute;
    right: 0;
    top: 0;
    color: var(--sapphire);

    margin: 0;
    padding: 0;
    z-index: 50;
  }
  .burger-menu-list {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    font-size: 1.5em;
    /* gap: 1em; */
    text-align: center;
    margin: 0;
  }

  .mobile-item {
    border-bottom: .05em solid var(--silver);
    
  }

  .mobile-item > a > div {
    padding: 1em;
  }
  .background-blur {
    /* background-color: rgba(255, 255, 255, .25); */
    backdrop-filter: blur(10px);
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
  }

  .navbar-item > a:hover {
    color: var(--sapphire)
  }

  .mobile-item:hover {
    background-color: var(--lighter-silver);
  }

  .mobile-item:active {
    background-color: var(--light-silver);
  }
}

.navbar-item > a.active-page {
  color: var(--brown-gold);
}

.content-container, .mobile-no-padding {
  padding-left: 15em;
  padding-right: 15em;
}

@media (max-width: 1550px) {

  .content-container, .mobile-no-padding {
    padding-left: 10em;
    padding-right: 10em;
  }


}

@media (max-width: 1375px) {

  .content-container, .mobile-no-padding {
    padding-left: 5em;
    padding-right: 5em;
  }


}

@media (max-width: 1225px) {

  .content-container, .mobile-no-padding {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }


}

@media (max-width: 800px) {

  .mobile-no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  div.homepage-intro-container {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .homepage-box-container {
    margin-top: .25em;
    gap: .25em;
  }

}

.homepage-photo {
  width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin-bottom: 0;
  font-size:0;
  display:flex;
}

.homepage-container{
  display: flex;
  flex-direction: column;
}

.homepage-intro-container {
  flex: 1;
  padding: 3em 0;
}

.homepage-box-container{
  flex: 1;
  
  padding: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  justify-content:center;
}

@media (max-width: 1050px) {

  .homepage-box-container{
    flex: 1;
    
    padding: 0;
    border: 0;

    box-shadow: none;
  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    justify-content:center;
  }

  .homepage-box-container {
    margin-top: .25em;
    gap: .25em;
  }

}

.homepage-box1, .homepage-box2, .homepage-box3 {
  text-align: center;
  padding: 4em 2em;
  min-height: 15em;
  transition: all 250ms ease;
}

.box-icon {
  filter: invert(39%) sepia(11%) saturate(0%) hue-rotate(192deg) brightness(101%) contrast(76%);
}

.homepage-box1:hover, .homepage-box2:hover, .homepage-box3:hover {
  color: white;
  
}

.homepage-box1:hover {
  background-color: var(--sapphire);
}

.homepage-box1:active {
  background-color: var(--darker-sapphire);
}

.homepage-box2:hover {
  background-color: var(--brown-yellow);
}

.homepage-box2:active {
  background-color: var(--darker-brown-yellow);
}

.homepage-box3:hover {
  background-color: var(--pea-green);
}

.homepage-box3:active {
  background-color: var(--darker-pea-green);
}

.homepage-box1:hover .box-icon, .homepage-box2:hover .box-icon, .homepage-box3:hover .box-icon {
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
}

@media (max-width: 1050px) {

  .homepage-box1{
    background-color: var(--sapphire);
    color: white;
  }

  .homepage-box2{
    background-color: var(--brown-yellow);
    color: white;
  }

  .homepage-box3{
    background-color: var(--pea-green);
    color: white;
  }

  .homepage-box1 .box-icon, .homepage-box2 .box-icon, .homepage-box3 .box-icon {
    filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
  }

}

.clickable-box {
  color: var(--gray);
  text-decoration: none;
}

.about-outer-container {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.about-container {
  padding-bottom: 3em;
}

.get-in-touch-item {
  list-style-type: none;
}

.team-title {
  font-style:italic;
}

.services-container {
  padding-bottom: 1.5em;
}

.services-list > li {
  padding: .2em 0;
}

.services-item, .about-item {
  color: var(--brown-gold);
  transition: all 250ms ease;
}

.services-item:hover, .about-item:hover {
  color: var(--sapphire);
  text-decoration: none;
}

.list-bold {
  font-weight:bold;
}

.footer-container {
  border:0.1em solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.hours-container {
  display: flex;
  flex-direction: row;
  gap:1em;
}

.contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-name {
  font-weight: bold;
}

.contact-item {
  list-style-type: none;
}

.contact-content {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5em;
}

.contact-email-telephone {
  color: var(--brown-gold);
  transition: all 250ms ease;
}

.contact-email-telephone:hover {
  color: var(--sapphire);
  text-decoration: none;
}

.g-map {
  width:50em;
  height:20em;
}


@media (max-width: 1150px) {

  .g-map {
    width:30em;
    height:20em;
  }

}

@media (max-width: 825px) {

  .g-map {
    width:20em;
    height:20em;
  }

}

@media (max-width: 650px) {

  .contact-content {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5em;
  }

  .contact-content {
    align-items:flex-start;
  }

}

.log-in-container {
  padding: 0 0 5em 0;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.sign-up-subtext {
  text-align: center;
}

.log-in-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.form-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color:black;

  gap: 1em;

  padding: 1em 2em;

}

.form-container > h2 {
  padding: 0;
  margin: 0;
  color: black;
}

.log-in-username, .log-in-password {
  display:flex;
  flex-direction: column;
}

.email-input, .password-input, .name-input, .card-input, .exp-input, .cvv-input, .zip-input, .amount-input {
  padding: .5em 1em;
}

.error-message {
  display: none;
}

/* .email-input:not(:focus):not(:placeholder-shown):invalid {
  border: .1em solid rgb(185, 35, 38);
  background-color: rgba(185, 35, 38, .5);
}

.email-input:not(:focus):not(:placeholder-shown):invalid ~ .error-message{
  display: table-caption;
  text-align:center;
  font-size:.75em;
  padding-top: 1em;
  color: rgb(185, 35, 38)
} */

.log-in-button, .reset-password-button, .create-account-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.log-in-button, .reset-password-button, .create-account-button  {
  background-color: var(--sapphire);
  color: white;
  padding: .5em;
  transition: all 250ms ease;
}

.log-in-button:hover, .reset-password-button:hover, .create-account-button:hover  {
  background-color: var(--light-sapphire);
}

.log-in-button:active, .reset-password-button:active, .create-account-button:active  {
  background-color: var(--lighter-sapphire);
}

.log-in-subtext {
  color: var(--gray);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.log-in-subtext > p {
  margin: 0;
}

.forgot-password-link, .create-account-link {
  color: var(--brown-gold);
  transition: all 250ms ease;
}

.forgot-password-link:hover, .create-account-link:hover {
  color: var(--sapphire);
  text-decoration: none;
}

.form-container > p {
  color: var(--gray);
}

.dashboard-grid-rows {
  display:grid;
  grid-template-rows: 1fr 9fr;
  min-height: max(100vh, fit-content);

}

.dashboard-grid-columns {
  display: grid;
  grid-template-columns: 2fr 11fr;
  width: 100%;
  height: auto;
}

.dashboard-content-container {
  padding-left: 3em;
  padding-right: 3em;
  height: auto;
}

.dashboard-title {
  
  padding-left: 3em;
}

.dashboard-nav-container {
  background-color: var(--sapphire);
  color: white;
  border-right: .25em solid var(--brown-gold);
  height: auto;

  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboard-icon {
  height: 1.5em;
  filter: invert(98%) sepia(100%) saturate(7%) hue-rotate(153deg) brightness(103%) contrast(104%);
  fill:none;
}

.flex-align {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1em;

  text-decoration: none;

}

.dashboard-nav-link {
  text-decoration: none;
  color: white;
}

.dashboard-content {
  color: black;
  border-bottom: .11em solid var(--silver);
}

.dashboard-nav-list {
  display:flex;
  flex-direction: column;
  padding-top: 1em;

  gap: .5em;
}

.dashboard-nav-item {
  padding: .5em;
}

.dashboard-nav-item:hover {
  background-color: var(--dark-sapphire);
  
}

.dashboard-nav-item:active {
  background-color: var(--darker-sapphire);
}

.dashboard-active-page {
  padding: .5em;
  background-color: var(--darker-sapphire);
}

.dashboard-home-content-container {
  display: flex;
  flex-direction: column;

  gap: 1em;
}

.dashboard-index-link, .dashboard-profile-link {
  color: var(--brown-gold);
  transition: all 250ms ease;
}

.dashboard-index-link:hover, .dashboard-profile-link:hover {
  color: var(--sapphire);
  text-decoration: none;
}

.credit-cards {
  width: 18em;
  margin: 0;
  padding-bottom: 1em;
}

.payment-form {
  display:flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
}

.name-container, .card-container, .email-zip-container {
  display:flex;
  gap: 1em;
  flex-wrap: wrap;
}

.form-item {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.payment-confirmation-button, .dashboard-edit-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.payment-confirmation-button, .dashboard-edit-button  {
  background-color: var(--sapphire);
  color: white;
  padding: .5em;
  transition: all 250ms ease;
}

.payment-confirmation-button:hover, .dashboard-edit-button:hover  {
  background-color: var(--light-sapphire);
}

.payment-confirmation-button:active, .dashboard-edit-button:active  {
  background-color: var(--lighter-sapphire);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
